<div class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="row">
        <div class="nav-collapse">
            <ul class="nav navbar-nav">
              <li style="font-size:20px;"><%= link_to "Haley House Dababase" %></li>
                <li><%= link_to "Individuals", individuals_path, :class => 'btn-small' %></li>
                <li><%= link_to "Grants", grant_records_path, :class => 'btn-small' %></li>
                <li><%= link_to "Organizations", organizations_path, :class => 'btn-small' %></li>
                <li><%= link_to "Events", events_path, :class => 'btn-small' %></li>
          </ul>
      </div><!--/nav-collapse-->
      </div><!--/row-->
  </div><!--/container-fluid-->
</div><!--/navbar-inverse and fixed-top-->
<h1>Listing volunteers</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email address</th>
    <th>Current street address</th>
    <th>Current city</th>
    <th>Zip code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @volunteers.each do |volunteer| %>
  <tr>
    <td><%= volunteer.first_name %></td>
    <td><%= volunteer.last_name %></td>
    <td><%= volunteer.email_address %></td>
    <td><%= volunteer.current_street_address %></td>
    <td><%= volunteer.current_city %></td>
    <td><%= volunteer.zip_code %></td>
    <td><%= link_to 'Show', volunteer %></td>
    <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
    <td><%= link_to 'Destroy', volunteer, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Volunteer', new_volunteer_path %>
