<h1>Listing volunteers</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email address</th>
    <th>Current street address</th>
    <th>Current city</th>
    <th>Zip code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @volunteers.each do |volunteer| %>
  <tr>
    <td><%= volunteer.first_name %></td>
    <td><%= volunteer.last_name %></td>
    <td><%= volunteer.email_address %></td>
    <td><%= volunteer.current_street_address %></td>
    <td><%= volunteer.current_city %></td>
    <td><%= volunteer.zip_code %></td>
    <td><%= link_to 'Show', volunteer %></td>
    <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
    <td><%= link_to 'Destroy', volunteer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Volunteer', new_volunteer_path %>
