<%= form_for([@individual, @individual_role_record]) do |f| %>
  <% if @individual_role_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@individual_role_record.errors.count, "error") %> prohibited this individual_role_record from being saved:</h2>

      <ul>
      <% @individual_role_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :individual_id %>
    <%= f.hidden_field :individual_id, :value => params[:individual_id] %>
    <p><%= @individual %></p>
  </div>
  <div class="field">
    <%= f.label :role_id %>
    <%= f.select :role_id, @roles %> <%= link_to "Add a new role", new_role_path, :target => "_blank" %>
  </div>
  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date, {:order => [:month, :day, :year]}, {:class => 'date-select'} %>
  </div>
  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date, {:include_blank => true, :order => [:month, :day, :year]}, {:class => 'date-select'} %>
  </div>
  <div class="actions">
    <%= f.submit nil, :class => 'btn' %>
  </div>
<% end %>
