<h1>Listing individual_role_records</h1>

<table>
  <tr>
    <th>Individual</th>
    <th>Role</th>
    <th>Start date</th>
    <th>End date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @individual_role_records.each do |individual_role_record| %>
  <tr>
    <td><%= individual_role_record.individual_id %></td>
    <td><%= individual_role_record.role_id %></td>
    <td><%= individual_role_record.start_date %></td>
    <td><%= individual_role_record.end_date %></td>
    <td><%= link_to 'Show', individual_role_record %></td>
    <td><%= link_to 'Edit', edit_individual_role_record_path(individual_role_record) %></td>
    <td><%= link_to 'Destroy', individual_role_record, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Individual role record', new_individual_role_record_path %>
