<p id="notice"><%= notice %></p>

<p>
  <b>Individual:</b>
  <%= link_to @individual_role_record.individual, @individual_role_record.individual %>
</p>

<p>
  <b>Role:</b>
  <%= @individual_role_record.role %>
</p>

<p>
  <b>Start date:</b>
  <%= @individual_role_record.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @individual_role_record.end_date %>
</p>


<%= link_to 'Edit', edit_individual_role_record_path(@individual_role_record) %> |
<%= link_to 'Back', individual_role_records_path %>
