<h3>Listing Notes <%= link_to 'New Note', new_note_path, :class => 'btn' %></h3>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= note.individual %></td>
    <td><%= note.note %></td>
    <td><%= link_to 'View Details', note %></td>
    <td><%= link_to 'Edit', edit_note_path(note) %></td>
    <td><%= link_to 'Delete', note, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

