<p id="notice"><%= notice %></p>

<p>
  <b>Grant record:</b>
  <%= @deadline.grant_record %>
</p>

<p>
  <b>Type:</b>
  <%= @deadline.deadline_type %>
</p>

<p>
  <b>Date:</b>
  <%= @deadline.date %>
</p>

<p>
  <b>Notes:</b>
  <%= @deadline.notes %>
</p>


<%= link_to 'Edit', [:edit, @grant_record, @deadline] %> |
<%= link_to 'Back', @grant_record %>
