<%= form_for(@individual) do |f| %>
  <% if @individual.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@individual.errors.count, "error") %> prohibited this individual from being saved:</h2>

      <ul>
      <% @individual.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <table class="table_individuals">
        <tr><th>
      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div></th></tr>
    <tr><th>
      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div></th></tr>
    <tr><th>
      <div class="field">
        <%= f.label :salutation %>
        <%= f.text_field :salutation %>
      </div></th></tr>
    <tr><th>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div></th></tr>
    <tr><th>
      <div class="field">
        <%= f.label :current_street_address %>
        <%= f.text_field :current_street_address %>
      </div></th></tr>
    <tr><th>
      <div class="field">
        <%= f.label :current_city %>
        <%= f.text_field :current_city %>
      </div></th></tr>
    <tr><th>
      <div class="field">
        <%= f.label :current_zip %>
        <%= f.text_field :current_zip %>
      </div>
    </th></tr>
    <tr><th>
      <div class="field">
        <%= f.label :permanent_street_address %>
        <%= f.text_field :permanent_street_address %>
      </div></th></tr>
    <tr><th>
      <div class="field">
        <%= f.label :permanent_city %>
        <%= f.text_field :permanent_city %>
      </div>
      <div class="field">
        <%= f.label :permanent_zip %>
        <%= f.text_field :permanent_zip %>
      </div>
      <div class="field">
        <%= f.label :phone_mobile %>
        <%= f.text_field :phone_mobile %>
      </div>
      <div class="field">
        <%= f.label :phone_work %>
        <%= f.text_field :phone_work %>
      </div>
      <div class="field">
        <%= f.label :phone_home %>
        <%= f.text_field :phone_home %>
      </div>
      <div class="field">
        <%= f.label :phone_mobile %>
        <%= f.text_field :phone_mobile %>
      </div>
      </th><th>
      <div class="field">
        <%= f.label :emergency_contact_name %>
        <%= f.text_field :emergency_contact_name %>
      </div>
      <div class="field">
        <%= f.label :emergency_contact_street_address %>
        <%= f.text_field :emergency_contact_street_address %>
      </div>
      <div class="field">
        <%= f.label :emergency_contact_city %>
        <%= f.text_field :emergency_contact_city %>
      </div>
      <div class="field">
        <%= f.label :emergency_contact_zip %>
        <%= f.text_field :emergency_contact_zip %>
      </div>
          </th><th>
      <div class="field">
        <%= f.label :email_newsletter %>
        <%= f.check_box :email_newsletter %>
      </div>
      <div class="field">
        <%= f.label :mail_newsletter %>
        <%= f.check_box :mail_newsletter %>
      </div>
      <div class="field">
        <%= f.label :applied_date %>
        <%= f.date_select :applied_date %>
      </div>
      <div class="field">
        <%= f.label :processed_date %>
        <%= f.date_select :processed_date %>
      </div>
      <div class="field">
        <%= f.label :inactive_date %>
        <%= f.date_select :inactive_date %>
      </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
