<%= form_for(@individual) do |f| %>
  <% if @individual.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@individual.errors.count, "error") %> prohibited this individual from being saved:</h2>

      <ul>
      <% @individual.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
      </div>
    
      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>
      </div>

      <div class="field">
        <%= f.label :salutation %><br />
        <%= f.text_field :salutation %>
      </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :current_street_address %><br />
        <%= f.text_field :current_street_address %>
      </div>
      <div class="field">
        <%= f.label :current_city %><br />
        <%= f.text_field :current_city %>
      </div>
      <div class="field">
        <%= f.label :current_zip %><br />
        <%= f.text_field :current_zip %>
      </div>
      <div class="field">
        <%= f.label :permanent_street_address %><br />
        <%= f.text_field :permanent_street_address %>
      </div>
      <div class="field">
        <%= f.label :permanent_city %><br />
        <%= f.text_field :permanent_city %>
      </div>
      <div class="field">
        <%= f.label :permanent_zip %><br />
        <%= f.text_field :permanent_zip %>
      </div>
      <div class="field">
        <%= f.label :phone_mobile %><br />
        <%= f.text_field :phone_mobile %>
      </div>
      <div class="field">
        <%= f.label :phone_work %><br />
        <%= f.text_field :phone_work %>
      </div>
      <div class="field">
        <%= f.label :phone_home %><br />
        <%= f.text_field :phone_home %>
      </div>
      <div class="field">
        <%= f.label :phone_mobile %><br />
        <%= f.text_field :phone_mobile %>
      </div>
      <div class="field">
        <%= f.label :emergency_contact_name %><br />
        <%= f.text_field :emergency_contact_name %>
      </div>
      <div class="field">
        <%= f.label :emergency_contact_street_address %><br />
        <%= f.text_field :emergency_contact_street_address %>
      </div>
      <div class="field">
        <%= f.label :emergency_contact_city %><br />
        <%= f.text_field :emergency_contact_city %>
      </div>
      <div class="field">
        <%= f.label :emergency_contact_zip %><br />
        <%= f.text_field :emergency_contact_zip %>
      </div>
      <div class="field">
        <%= f.label :email_newsletter %><br />
        <%= f.check_box :email_newsletter %>
      </div>
      <div class="field">
        <%= f.label :mail_newsletter %><br />
        <%= f.check_box :mail_newsletter %>
      </div>
      <div class="field">
        <%= f.label :applied_date %><br />
        <%= f.date_select :applied_date %>
      </div>
      <div class="field">
        <%= f.label :processed_date %><br />
        <%= f.date_select :processed_date %>
      </div>
      <div class="field">
        <%= f.label :inactive_date %><br />
        <%= f.date_select :inactive_date %>
      </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
