<%= form_for @individual, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :salutation, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :salutation, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :current_street_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :current_street_address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :current_city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :current_city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :current_zip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :current_zip, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :permanent_street_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :permanent_street_address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :permanent_city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :permanent_city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :permanent_zip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :permanent_zip, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone_mobile, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone_mobile, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone_work, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone_work, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone_home, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone_home, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :emergency_contact_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :emergency_contact_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :emergency_contact_street_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :emergency_contact_street_address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :emergency_contact_city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :emergency_contact_city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :emergency_contact_zip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :emergency_contact_zip, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email_newsletter, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :email_newsletter, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mail_newsletter, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :mail_newsletter, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :applied_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :applied_date, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :processed_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :processed_date, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :inactive_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :inactive_date, :class => 'date_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                individuals_path, :class => 'btn' %>
  </div>
<% end %>
