<%= render :partial => 'navbar' %>  
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <%= render :partial => 'search' %>  
        </ul>
      </div><!--/.well sidebar-nav -->
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <h4>Actions</h4>
          <li><%= link_to t('.new', :default => t("helpers.links.add_new")), new_individual_path %></li>
          <li><%= link_to "Export (Excel or CSV)", individuals_path(:format => "csv") %></li> <!-- or :format => 'xls' -->
          <li><%= link_to "Import (Excel or CSV)" %></li> 
        </ul>
      </div><!--/.well sidebar-nav -->
      <!-- <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Actions</li>
            <li><%= link_to t('.new', :default => t("helpers.links.add_new")),
                    new_individual_path,
                    :class => 'btn btn-small' %></li>
            <li><a href="#">Export</a></li>
            <li><a href="#">Import</a></li>
        </ul>
      </div></.well sidebar-nav -->
    </div><!--/span3-->

    <div class="span9">
      <div class="well">
      <div class="row-fluid">
      <%- model_class = Individual -%>

      <h4>Individuals</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= sort_link @search, :first_name %></th>
            <th><%= sort_link @search, :last_name %></th>
            <th><%= sort_link @search, :email %></th>
            <th><%= sort_link @search, :current_city %></th>
            <th>Donations</th>
          </tr>
        </thead>
        <tbody>
          <% @individuals.each do |individual| %>
            <tr>
              <td><%= individual.first_name %></td>
              <td><%= individual.last_name %></td>
              <td><%= individual.email %></td>
              <td><%= individual.current_city %></td>
              <td><%= link_to individual.donations_summary, individual_path(individual, :anchor => "donations") %></td>
              <td><%= link_to t('.show', :default => t("helpers.links.show")), individual_path(individual), :class => 'btn btn-mini' %></td>
              <td><%= link_to t('.edit', :default => t("helpers.links.edit")), edit_individual_path(individual), :class => 'btn btn-mini' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @individuals %>
    </div>
  </div> <!--/well-->

  <div class="well">
    <%= link_to t('.new', :default => t("helpers.links.add_new")), new_individual_path, :class => 'btn btn-primary' %>
  </div>
