<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @individual.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @individual.last_name %>
</p>

<p>
  <b>Salutation:</b>
  <%= @individual.salutation %>
</p>

<p>
  <b>Email:</b>
  <%= @individual.email %>
</p>

<p>
  <b>Current street address:</b>
  <%= @individual.current_street_address %>
</p>

<p>
  <b>Current city:</b>
  <%= @individual.current_city %>
</p>

<p>
  <b>Current zip:</b>
  <%= @individual.current_zip %>
</p>

<p>
  <b>Permanent street address:</b>
  <%= @individual.permanent_street_address %>
</p>

<p>
  <b>Permanent city:</b>
  <%= @individual.permanent_city %>
</p>

<p>
  <b>Permanent zip:</b>
  <%= @individual.permanent_zip %>
</p>

<p>
  <b>Phone mobile:</b>
  <%= @individual.phone_mobile %>
</p>

<p>
  <b>Phone work:</b>
  <%= @individual.phone_work %>
</p>

<p>
  <b>Phone home:</b>
  <%= @individual.phone_home %>
</p>

<p>
  <b>Phone mobile:</b>
  <%= @individual.phone_mobile %>
</p>

<p>
  <b>Emergency contact name:</b>
  <%= @individual.emergency_contact_name %>
</p>

<p>
  <b>Emergency contact street address:</b>
  <%= @individual.emergency_contact_street_address %>
</p>

<p>
  <b>Emergency contact city:</b>
  <%= @individual.emergency_contact_city %>
</p>

<p>
  <b>Emergency contact zip:</b>
  <%= @individual.emergency_contact_zip %>
</p>

<p>
  <b>Email newsletter:</b>
  <%= @individual.email_newsletter %>
</p>

<p>
  <b>Mail newsletter:</b>
  <%= @individual.mail_newsletter %>
</p>

<p>
  <b>Applied date:</b>
  <%= @individual.applied_date %>
</p>

<p>
  <b>Processed date:</b>
  <%= @individual.processed_date %>
</p>

<p>
  <b>Inactive date:</b>
  <%= @individual.inactive_date %>
</p>


<%= link_to 'Edit', edit_individual_path(@individual) %> |
<%= link_to 'Back', individuals_path %>
