<%- model_class = Individual -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%= @individual.first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @individual.last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:salutation) %>:</strong></dt>
  <dd><%= @individual.salutation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @individual.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_street_address) %>:</strong></dt>
  <dd><%= @individual.current_street_address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_city) %>:</strong></dt>
  <dd><%= @individual.current_city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_zip) %>:</strong></dt>
  <dd><%= @individual.current_zip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:permanent_street_address) %>:</strong></dt>
  <dd><%= @individual.permanent_street_address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:permanent_city) %>:</strong></dt>
  <dd><%= @individual.permanent_city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:permanent_zip) %>:</strong></dt>
  <dd><%= @individual.permanent_zip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone_mobile) %>:</strong></dt>
  <dd><%= @individual.phone_mobile %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone_work) %>:</strong></dt>
  <dd><%= @individual.phone_work %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone_home) %>:</strong></dt>
  <dd><%= @individual.phone_home %></dd>
  <dt><strong><%= model_class.human_attribute_name(:emergency_contact_name) %>:</strong></dt>
  <dd><%= @individual.emergency_contact_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:emergency_contact_street_address) %>:</strong></dt>
  <dd><%= @individual.emergency_contact_street_address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:emergency_contact_city) %>:</strong></dt>
  <dd><%= @individual.emergency_contact_city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:emergency_contact_zip) %>:</strong></dt>
  <dd><%= @individual.emergency_contact_zip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email_newsletter) %>:</strong></dt>
  <dd><%= @individual.email_newsletter %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mail_newsletter) %>:</strong></dt>
  <dd><%= @individual.mail_newsletter %></dd>
  <dt><strong><%= model_class.human_attribute_name(:applied_date) %>:</strong></dt>
  <dd><%= @individual.applied_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:processed_date) %>:</strong></dt>
  <dd><%= @individual.processed_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inactive_date) %>:</strong></dt>
  <dd><%= @individual.inactive_date %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              individuals_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_individual_path(@individual), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              individual_path(@individual),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
