<p id="notice"><%= notice %></p>

<p>
  <b>Left individual:</b>
  <%= @individual_relationship_record.left_individual_id %>
</p>

<p>
  <b>Right individual:</b>
  <%= @individual_relationship_record.right_individual_id %>
</p>

<p>
  <b>Relationship:</b>
  <%= @individual_relationship_record.relationship %>
</p>


<%= link_to 'Edit', edit_individual_relationship_record_path(@individual_relationship_record) %> |
<%= link_to 'Back', individual_relationship_records_path %>
