<%= form_for(@grant_record) do |f| %>
  <%= render "shared/error_messages", :target => @grant_record %>

  <div class="field">
    <%= f.label :grantmaker_id %> <!-- make this display name not ID -->
    <%= f.select :grantmaker_id, (@grantmakers || []) %>
    <%= link_to 'Add a new grantmaker', [:new, :grantmaker] %>
  </div>
  <div class="field">
    <%= f.label :organization_id %>
    <%= f.select :organization_id, (@organizations || []), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :fiscal_year %>
    <%= f.text_field :fiscal_year %>
  </div>
  <div class="field">
    <%= f.label :notification_date %>
    <%= f.date_select :notification_date %>
  </div>
  <div class="field">
    <%= f.label :ask_status %>
    <%= f.text_field :ask_status %>
  </div>
  <div class="field">
    <%= f.label :request_type %>
    <%= f.text_field :request_type %>
  </div>
  <div class="field">
    <%= f.label :funding_type %>
    <%= f.text_field :funding_type %>
  </div>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :program %>
    <%= f.text_field :program %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
