<p id="notice"><%= notice %></p>

<p>
  <b>Grantmaker:</b>
  <%= @grant_record.grantmaker_id %>
</p>

<p>
  <b>Organization:</b>
  <%= @grant_record.organization_id %>
</p>

<p>
  <b>Fiscal year:</b>
  <%= @grant_record.fiscal_year %>
</p>

<p>
  <b>Notification date:</b>
  <%= @grant_record.notification_date %>
</p>

<p>
  <b>Ask :status =></b>
  <%= @grant_record.ask_status %>
</p>

<p>
  <b>Request type:</b>
  <%= @grant_record.request_type %>
</p>

<p>
  <b>Funding type:</b>
  <%= @grant_record.funding_type %>
</p>

<p>
  <b>Amount:</b>
  <%= @grant_record.amount %>
</p>

<p>
  <b>Program:</b>
  <%= @grant_record.program %>
</p>

<p>
  <b>Notes:</b>
  <%= @grant_record.notes %>
</p>


<%= link_to 'Edit', edit_grant_record_path(@grant_record) %> |
<%= link_to 'Back', grant_records_path %>
