<%= form_for(@donation) do |f| %>
  <%= render "shared/error_messages", :target => @donation %>

  <div class="control-group">
    <%= f.label :individual_id, :class => 'control-label' %>
    <div class="controls">
      <%= @donation.individual.to_s %>
      <%= f.hidden_field :individual_id %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date, {:order => [:month, :day, :year], :include_blank => false}, {:class => 'date-select'} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :method, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :method, :class => 'text_field' %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
