<%= form_for(@skills_roster) do |f| %>
  <% if @skills_roster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skills_roster.errors.count, "error") %> prohibited this skills_roster from being saved:</h2>

      <ul>
      <% @skills_roster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :individual_id %><br />
    <%= f.number_field :individual_id %>
  </div>
  <div class="field">
    <%= f.label :skill_id %><br />
    <%= f.number_field :skill_id %>
  </div>
  <div class="field">
    <%= f.label :date_gained %><br />
    <%= f.date_select :date_gained %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
