<h1>Listing skills_rosters</h1>

<table>
  <tr>
    <th>Individual</th>
    <th>Skill</th>
    <th>Date gained</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @skills_rosters.each do |skills_roster| %>
  <tr>
    <td><%= skills_roster.individual_id %></td>
    <td><%= skills_roster.skill_id %></td>
    <td><%= skills_roster.date_gained %></td>
    <td><%= link_to 'Show', skills_roster %></td>
    <td><%= link_to 'Edit', edit_skills_roster_path(skills_roster) %></td>
    <td><%= link_to 'Destroy', skills_roster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Skills roster', new_skills_roster_path %>
