<p id="notice"><%= notice %></p>

<p>
  <b>Individual:</b>
  <%= @skills_roster.individual_id %>
</p>

<p>
  <b>Skill:</b>
  <%= @skills_roster.skill_id %>
</p>

<p>
  <b>Date gained:</b>
  <%= @skills_roster.date_gained %>
</p>


<%= link_to 'Edit', edit_skills_roster_path(@skills_roster) %> |
<%= link_to 'Back', skills_rosters_path %>
