<%= form_for @grantmaker, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rank, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :rank, Grantmaker.ranks %>
     

    </div>
  </div>
  <div class="control-group">
    <%= f.label :unsolicited_proposals, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :unsolicited_proposals, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mission, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :mission, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :website, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :website, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :street_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :street_address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zip_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zip_code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_phone_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_phone_number, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                grantmakers_path, :class => 'btn' %>
  </div>
  <div class="row-fluid">
          <h3>Results</h3>
            <p>This is where the results will be put</p>
            <p><a href="#" class="btn btn-primary btn-small">Learn more &raquo;</a></p>
      </div><!--/row-fluid--> 
<% end %>
