 <ul class="nav nav-tabs">
    <li class="tab-pane"><%= link_to "Search", individuals_path %></li>
    <li class="tab-pane"><%= link_to "Add new", individuals_path %></li>
    <li class="tab-pane"><%= link_to "Edit", organizations_path %></li>
    <li class="tab-pane" ><%= link_to "Pull report" %></li>
</ul>
<div class="well">
  <!-- <input type="search"> -->
  <form class="form-search">Search by name/location/etc.
    <div class="input-append">
    <input type="text" class="span8 search-query">
        <button type="submit" class="btn"><i class="icon-search"></i></button>
    </div>
  </form>
</div> <!--/.well -->
<div class="span3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">

                <li class="nav-header"><%= link_to "Grants", grantmakers_path %></li>
                <li><a href="#">Search grants</a></li>
                <li><a href="#">Add/edit information</a></li>
                <li><a href="#">Pull grant reports</a></li>

              </ul>
            </div><!--/.well -->
          </div><!--/span-->

    <div class="span9">   

<%- model_class = Grantmaker -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:rank) %></th>
      <th><%= model_class.human_attribute_name(:unsolicited_proposals) %></th>
      <th><%= model_class.human_attribute_name(:mission) %></th>
      <th><%= model_class.human_attribute_name(:website) %></th>
      <th><%= model_class.human_attribute_name(:street_address) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:zip_code) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:contact_first_name) %></th>
      <th><%= model_class.human_attribute_name(:contact_last_name) %></th>
      <th><%= model_class.human_attribute_name(:contact_email) %></th>
      <th><%= model_class.human_attribute_name(:contact_phone_number) %></th>
      <th><%= model_class.human_attribute_name(:notes) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @grantmakers.each do |grantmaker| %>
      <tr>
        <td><%= link_to grantmaker.id, grantmaker_path(grantmaker) %></td>
        <td><%= grantmaker.name %></td>
        <td><%= grantmaker.rank %></td>
        <td><%= grantmaker.unsolicited_proposals %></td>
        <td><%= grantmaker.mission %></td>
        <td><%= grantmaker.website %></td>
        <td><%= grantmaker.street_address %></td>
        <td><%= grantmaker.city %></td>
        <td><%= grantmaker.state %></td>
        <td><%= grantmaker.zip_code %></td>
        <td><%= grantmaker.phone %></td>
        <td><%= grantmaker.email %></td>
        <td><%= grantmaker.contact_first_name %></td>
        <td><%= grantmaker.contact_last_name %></td>
        <td><%= grantmaker.contact_email %></td>
        <td><%= grantmaker.contact_phone_number %></td>
        <td><%= grantmaker.notes %></td>
        <td><%=l grantmaker.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_grantmaker_path(grantmaker), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      grantmaker_path(grantmaker),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_grantmaker_path,
            :class => 'btn btn-primary' %>

</div><!--/span-->
