<%#= render :partial => 'header' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <%= render :partial => 'search' %>
        </ul>
      </div><!--/.well sidebar-nav -->
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
 <!--    
            <li class="nav-header">Actions</li> -->
            <h4>Actions</h4>
              <!-- <li class="active"><a href="#">Export Link</a></li> -->
              <li><%= link_to t('.new', :default => t("helpers.links.add_new_grantmaker")), new_grantmaker_path %></li>
              <li><%= link_to "Export (Excel or CSV)", grantmakers_path(:format => "csv") %></li>
              <li><%= link_to "Import (Excel or CSV)" %></li>
        </ul>
      </div><!--/.well sidebar-nav -->
    </div><!--/span3--> 
    <div class="span9">
      <div class="well">
      <div class="row-fluid">
        <%- model_class = Grantmaker -%>
        <div class="page-header">
          <h4>Grantmakers</h4>     
          <%#= link_to t('.new', :default => t("helpers.links.add_new_grantmaker")), new_grantmaker_path, :class => 'tn btn-primary' %>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <!-- <th><%= model_class.human_attribute_name(:id) %></th> -->
              <th><%= model_class.human_attribute_name(:name) %></th>
              <th><%= model_class.human_attribute_name(:rank) %></th>
              <!-- <th><%= model_class.human_attribute_name(:unsolicited_proposals) %></th> -->
              <th><%= model_class.human_attribute_name(:last_year_funded) %></th>
              <th><%= model_class.human_attribute_name(:upcoming_deadlines) %></th>
              <th><%= model_class.human_attribute_name(:last_amount_received) %></th>
              <th><%= model_class.human_attribute_name(:program) %></th>
              <th><%= model_class.human_attribute_name(:website) %></th>
        <!--       <th><%= model_class.human_attribute_name(:state) %></th>
              <th><%= model_class.human_attribute_name(:zip_code) %></th>
              <th><%= model_class.human_attribute_name(:phone) %></th>
              <th><%= model_class.human_attribute_name(:email) %></th>
              <th><%= model_class.human_attribute_name(:contact_first_name) %></th>
              <th><%= model_class.human_attribute_name(:contact_last_name) %></th>
              <th><%= model_class.human_attribute_name(:contact_email) %></th>
              <th><%= model_class.human_attribute_name(:contact_phone_number) %></th> -->
              <th><%= model_class.human_attribute_name(:notes) %></th>
         <!--      <th><%= model_class.human_attribute_name(:created_at) %></th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
            </tr>
          </thead>
          <tbody>
            <% @grantmakers.each do |grantmaker| %>
              <tr>
                <!-- <td><%= link_to grantmaker.id, grantmaker_path(grantmaker) %></td> -->
                <td><%= grantmaker.name %></td>
                <td><%= grantmaker.rank %></td>
                <!-- <td><%= grantmaker.unsolicited_proposals %></td> -->
                <td><%= grantmaker.last_year_funded %></td>
               <td><%= grantmaker.upcoming_deadlines %></td>
                <td><%= number_to_currency grantmaker.last_amount_received %></td>
                <td><%= grantmaker.last_grant_received.program if grantmaker.last_grant_received %></td>
                <td><%= grantmaker.website %></td>
                <!-- <td><%= grantmaker.state %></td>
                <td><%= grantmaker.zip_code %></td>
                <td><%= grantmaker.phone %></td>
                <td><%= grantmaker.email %></td>
                <td><%= grantmaker.contact_first_name %></td>
                <td><%= grantmaker.contact_last_name %></td>
                <td><%= grantmaker.contact_email %></td>
                <td><%= grantmaker.contact_phone_number %></td> -->
                <td><%= grantmaker.notes %></td>
                <!-- <td><%=l grantmaker.created_at %></td> -->
                <td>
                  <%= link_to t('.show', :default => t("helpers.links.show")),
                                    grantmaker_path(grantmaker), :class => 'btn btn-mini' %>
                  <%= link_to t('.edit', :default => t("helpers.links.add_record")),
                                    grantmaker_path(grantmaker), :class => 'btn btn-mini' %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_grantmaker_path(grantmaker), :class => 'btn btn-mini' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                              grantmaker_path(grantmaker),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-mini btn-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div> <!--/well-->
       
    </div><!--/row-fluid-->
        
  </div><!--/span9--> 
</div><!--/container-fluid-->


