<%- model_class = Grantmaker -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @grantmaker.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rank) %>:</strong></dt>
  <dd><%= @grantmaker.rank %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unsolicited_proposals) %>:</strong></dt>
  <dd><%= @grantmaker.unsolicited_proposals %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mission) %>:</strong></dt>
  <dd><%= @grantmaker.mission %></dd>
  <dt><strong><%= model_class.human_attribute_name(:website) %>:</strong></dt>
  <dd><%= @grantmaker.website %></dd>
  <dt><strong><%= model_class.human_attribute_name(:street_address) %>:</strong></dt>
  <dd><%= @grantmaker.street_address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @grantmaker.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @grantmaker.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:zip_code) %>:</strong></dt>
  <dd><%= @grantmaker.zip_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @grantmaker.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @grantmaker.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_first_name) %>:</strong></dt>
  <dd><%= @grantmaker.contact_first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_last_name) %>:</strong></dt>
  <dd><%= @grantmaker.contact_last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_email) %>:</strong></dt>
  <dd><%= @grantmaker.contact_email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_phone_number) %>:</strong></dt>
  <dd><%= @grantmaker.contact_phone_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= @grantmaker.notes %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              grantmakers_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_grantmaker_path(@grantmaker), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              grantmaker_path(@grantmaker),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
