<%= form_for @organization, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mission, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :mission, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :program, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :program, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :website, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :website, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :street_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :street_address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zip, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_phone_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_phone_number, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_email, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-horizontal">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                organizations_path, :class => 'btn' %>
  </div>
<% end %>
