<h3><%= link_to 'New Organization', new_organization_path %></h3>

<h3>Search organizations</h3>

<%= form_for @search, :url => organizations_path, :html => {:method => :get} do |f| %>
  <%= f.label :name_contains %>
  <%= f.text_field :name_contains %><br />
  <%= f.label :city_contains, 'City:' %>
  <%= f.text_field :city_contains %><br />
  <%= f.submit 'Search' %>
  <%= f.submit 'Clear' %>
<% end %>



<h3>Listing Organizations</h3>

<% if @organizations.size > 0 %>
    <table>
      <tr>
        <th>Name</th>
        <th>Mission</th>
        <th>Program</th>
        <th>Website</th>
        <th>Street Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.mission %></td>
        <td><%= organization.program %></td>
        <td><%= organization.website %></td>
        <td><%= organization.street_address %></td>
        <td><%= organization.city %></td>
        <td><%= organization.state %></td>
        <td><%= organization.zip %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
<% else %>
    Sorry, no organizations matched your search!
<% end %>

<br />
<br />


