 <ul class="nav nav-tabs">
    <li class="tab-pane"><%= link_to "Search", organizations_path %></li>
    <li class="tab-pane"><%= link_to "Add new", new_organization_path %></li>
    <li class="tab-pane"><%= link_to "Edit", organizations_path %></li>
    <li class="tab-pane" ><%= link_to "Pull report" %></li>
</ul>

<!-- Original example of nav-tabs pulled from online 
<ul class="nav nav-tabs">
  <li><a href="index.html.erb" data-toggle="tab">Home</a></li>
  <li><a href="new.html.erb" data-toggle="tab">New</a></li>
  <li><a href="#messages" data-toggle="tab">Messages</a></li>
  <li><a href="#settings" data-toggle="tab">Settings</a></li>
</ul>
-->
<!-- Not sure why we need this 

<div class="tab-content">
  <div class="tab-pane active" id="home">...</div>
  <div class="tab-pane" id="profile">...</div>
  <div class="tab-pane" id="messages">...</div>
  <div class="tab-pane" id="settings">...</div>
</div>
 
<script>
  $(function () {
    $('#myTab a:last').tab('show');
  })
</script>
-->
<div class="well">
  <!-- <input type="search"> -->
  <form class="form-search">Search by name/location/etc.
    <div class="input-append">
    <input type="text" class="span8 search-query">
        <button type="submit" class="btn"><i class="icon-search"></i></button>
    </div>
  </form>
</div> <!--/.well -->


   

    <div class="span9">

<%- model_class = Organization -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:mission) %></th>
      <th><%= model_class.human_attribute_name(:program) %></th>
      <th><%= model_class.human_attribute_name(:website) %></th>
      <th><%= model_class.human_attribute_name(:street_address) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:zip) %></th>
      <th><%= model_class.human_attribute_name(:contact_first_name) %></th>
      <th><%= model_class.human_attribute_name(:contact_last_name) %></th>
      <th><%= model_class.human_attribute_name(:contact_phone_number) %></th>
      <th><%= model_class.human_attribute_name(:contact_email) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.id, organization_path(organization) %></td>
        <td><%= organization.name %></td>
        <td><%= organization.mission %></td>
        <td><%= organization.program %></td>
        <td><%= organization.website %></td>
        <td><%= organization.street_address %></td>
        <td><%= organization.city %></td>
        <td><%= organization.state %></td>
        <td><%= organization.zip %></td>
        <td><%= organization.contact_first_name %></td>
        <td><%= organization.contact_last_name %></td>
        <td><%= organization.contact_phone_number %></td>
        <td><%= organization.contact_email %></td>
        <td><%=l organization.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_organization_path(organization), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      organization_path(organization),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_organization_path,
            :class => 'btn btn-primary' %>

     </div><!--/span-->
