<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <!-- <li class="nav-header">Navigate</li> -->
              <!-- <li class="active"><a href="#">Export Link</a></li> -->
              <li><%= link_to t('.back', :default => t("helpers.links.back_to_search")),
              individuals_path, :class => 'btn-small'  %></li>
        </ul>
      </div><!--/.well sidebar-nav -->
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
    
            <li class="nav-header">Jump to...</li>
              <!-- <li class="active"><a href="#">Export Link</a></li> -->
              <li><a href="#">Contact Information</a></li>
              <li><a href="#">Mission</a></li> <!--Type of person, event_attendance_records, donation_records-->
              <li><a href="#">Funders</a></li> <!--Thank yous, invites to events, do they get eNewsletters or Newsletters? -->
              <li><a href="#">Notes</a></li>
        </ul>
      </div><!--/.well sidebar-nav -->
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          
            <li class="nav-header">Actions</li>
              <!-- <li class="active"><a href="#">Export Link</a></li> -->
              <li><a href="#">Email</a></li>
              <li><a href="#">Write Letter</a></li>
        </ul>
      </div><!--/.well sidebar-nav -->
    </div><!--/span3--> 
    <div class="span9">
      <div class="row-fluid">
          <%- model_class = Organization -%>
            <div class="page-header">
              <h2><%=t '.title', :default => model_class.model_name.human.titleize %></h2>
            </div>

            <dl class="dl-horizontal">
              <% attributes_order = [ 
                  "name",
                  "mission",
                  "program",
                  "website",
                  "street_address",
                  "city",
                  "state",
                  "zip",
                  "contact_first_name",
                  "contact_last_name",
                  "contact_phone_number",
                  "contact_email",
                ] %>
              <% attributes_order.each do |attribute| %>
                <% next if @organization.attributes[attribute].blank? %>
                <dt><strong><%= model_class.human_attribute_name(attribute.to_sym) + ':' %></strong></dt>
                <dd><%= @organization.attributes[attribute] %></dd>
              <% end %>  
            </dl>

            <div class="form-actions">
              <%= link_to t('.back', :default => t("helpers.links.back")),
                          organizations_path, :class => 'btn'  %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_organization_path(@organization), :class => 'btn' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          organization_path(@organization),
                          :method => 'delete',
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-danger' %>
            </div>
      </div><!--/row-fluid-->
    </div><!--/span9-->
  </div><!--/row-fluid-->  
</div><!--/container-fluid-->
