
<!DOCTYPE html>
<html>
  <head>
    <title>Haley House Database</title>
  </head>
<body>

  <p class="helptext">Please choose which database you would like to work in by clicking the links below.</p>

 <table cellspacing=20px>
      <tr>
        <th height=300 width=175 bgcolor=c37445><h2><a href="individuals_path" class="button_blue">Individuals</a></h2> (Volunteers, Donors, Staff, Friends, etc.)
        <th height=300 width=175 bgcolor=7e9b9f><h2><%= link_to "Organizations", organizations_path %></h2> (Partners, Customers, Similar Organizations, etc.)</th>
        <th height=300 width=175 bgcolor=b286a6><h2><%= link_to "Grants", grantmakers_path %></h2>(Find foundations, add grant records, etc.)</th></tr>
</table>

</body>
 </html>


<!-- 
<p><%= link_to "Grant Records", grant_records_path %></p>
<p><%= link_to "Deadlines", deadlines_path %></p>
<p><%= link_to "Events", events_path %></p>
<p><%= link_to "Attendance", event_attendance_records_path %></p>
<p><%= link_to "Skills", skills_path %></p>
<p><%= link_to "Roles", roles_path %></p>
<p><%= link_to "Occupations", occupations_path %></p>
<p><%= link_to "Notes", notes_path %></p>
<p>Note - do I add a link for IndividualRoleRecord, IndividualOrganizationRecord, and IndividualSkillRecord here or do those belong on the pages they are linkign to/from.</p> -->