
<!DOCTYPE html>
<html>
  <head>
    <!-- <title><a href="index.html">Haley House Database</a></title> -->
    <title><%= link_to("Haley House Database", root_path) %></title>
  </head>
<body>

  <p class="helptext">Please choose which database you would like to work in by clicking the links below.</p>

 <table cellspacing=20px>
      <tr>
        <!-- <th><a href="individuals" class="button_orange">Individuals<span style="font-size:14px;font-weight:normal"><br><br>(Volunteers, Donors, Staff, Friends, etc.)</span></a></th> -->
        <th><%= link_to("Individuals<span style='font-size:14px;font-weight:normal'><br><br>(Volunteers, Donors, Staff, Friends, etc.)</span>".html_safe, individuals_path, :class => "button_orange") %></th>

       <!-- <th><a href="organizations" class="button_blue">Organizations<span style="font-size:14px;font-weight:normal"><br><br>(Partners, Customers, Similar Organizations, etc.)</span></a></th> -->
        <th><%= link_to("Organizations<span style='font-size:14px;font-weight:normal'><br><br>(Partners, Customers, Similar Organizations, etc.)</span>".html_safe, individuals_path, :class => "button_blue") %></th>

       <!-- <th><a href="grantmakers" class="button_purple">Grants<span style="font-size:14px;font-weight:normal"><br><br>(Find foundations, add grant records, etc.)</span></a></th> -->
        <th><%= link_to("Grants<span style='font-size:14px;font-weight:normal'><br><br>(Find foundations, add grant records, etc.)</span>".html_safe, individuals_path, :class => "button_purple") %></th>
   </tr></table>

</body>
 </html>

<!-- height=300 width=175 bgcolor=c37445 -->
<!-- 
<p><%= link_to "Grant Records", grant_records_path %></p>
<p><%= link_to "Deadlines", deadlines_path %></p>
<p><%= link_to "Events", events_path %></p>
<p><%= link_to "Attendance", event_attendance_records_path %></p>
<p><%= link_to "Skills", skills_path %></p>
<p><%= link_to "Roles", roles_path %></p>
<p><%= link_to "Occupations", occupations_path %></p>
<p><%= link_to "Notes", notes_path %></p>
<p>Note - do I add a link for IndividualRoleRecord, IndividualOrganizationRecord, and IndividualSkillRecord here or do those belong on the pages they are linkign to/from.</p> -->